.NM{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
}

.LD img{
   height: 150px;
   width: 400px;
}

@media screen and (max-width:1237px) {
   .LD img{
      height: 100px;
      width: 300px;
   }
}